<%check_dates(pcomponent)%>
<div class="pcomponent">
	
	<div class="pcomponent-title">
		<% if pcomponent.user.nil? %>
			<%= link_to pcomponent.component.title, edit_pcomponent_path(pcomponent) %>
		<%else%>
		  <%= pcomponent.component.title %>
			<% if current_user == pcomponent.user%>
				  <% if pcomponent.requirements_finished == false %>
						<%= link_to_icon('prequirements',  prequirements_path(:project_id => pcomponent.project_id, :component_id => pcomponent.component.id, :page_num => params[:page])) %>
					<% elsif  pcomponent.questions_finished == false  %>						
						<%= link_to_icon('pquestions',  pquestions_path(:project_id => pcomponent.project_id, :component_id => pcomponent.component.id, :page_num => params[:page])) %>
					<% end %>
			<% end %>
		<%end%>
	</div>
	
	
	<div class="user-name"> <%unless pcomponent.user.nil?%> <%= pcomponent.user.name %> <%else %> <p></p><%end%> </div>
	<div class="status-title <%= dom_id(pcomponent.status) %>"> <%= pcomponent.status.title %> </div>
	<div class="time" datetime="<%= pcomponent.updated_at %>"> <%= pcomponent.updated_at.to_formatted_s(:short) %></div>
	<%= get_requirements_aproved(params[:type],pcomponent)%>
	<%= get_questions_score(params[:type],pcomponent)%>
	<%= get_comments(params[:type],pcomponent)%>
	<%= get_sugestions(params[:type],pcomponent)%>
</div>


