<h1>Listing requirements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Component</th>
    <th></th>
    <th></th>
  </tr>

<% @requirements.each do |requirement| %>
  <tr>
    <td><%= requirement.title %></td>
    <td><%= requirement.component.humanize %></td>
    <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
    <td><%= link_to 'Destroy', requirement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p class="addlink"><%= link_to 'New Requirement', new_requirement_path %></p>
