<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @requirement.title %>
</p>

<p>
  <b>Component:</b>
  <%= @requirement.component_id %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
