<h1>Listing sugestions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sugestions.each do |sugestion| %>
  <tr>
    <td><%= sugestion.title %></td>
    <td><%= sugestion.component.title %></td>
    <td><%= link_to 'Edit', edit_sugestion_path(sugestion) %></td>
    <td><%= link_to 'Destroy', sugestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p class="addlink"><%= link_to 'New Sugestion', new_sugestion_path %></p>
