<div class="menu">
<p class="menu-item"><%= link_to 'Projects', projects_path()%></p>
<p class="menu-item"><%= link_to 'Feedback', businesses_path()%></p>
<p class="menu-item"><%= link_to 'Questions', questions_path()%></p>
<p class="menu-item"><%= link_to 'Requirements', requirements_path()%></p>
<p class="menu-item"><%= link_to 'Sugestions', sugestions_path()%></p>
<p class="menu-item"><%= link_to 'Components', components_path()%></p>
<p class="menu-item"><%= link_to 'Users', users_path()%></p>
</div>